<h2>Hello {{pageTitle}}</h2>

<form>
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" [(ngModel)]="title" required>
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" [(ngModel)]="date" required>
  </div>
  <div>
    <label for="priority">Priority:</label>
    <select id="priority" name="priority" [(ngModel)]="priority" required>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
  </div>
  <button type="submit">Submit</button>
</form>