<h1> Task Overview </h1>
<div class="task-overview">
  <button mat-mini-fab [routerLink]="'/edit-task'"><mat-icon>add</mat-icon></button>
  <br>
  <div class="task-overview__filters" [formGroup]="filterGroup">
    <section>
      <mat-button-toggle-group
        formControlName='completionStatusFilters'
        aria-label="Completion Status"
        [hideMultipleSelectionIndicator]="true"
        multiple
      >
        <mat-button-toggle value="completed">Completed</mat-button-toggle>
        <mat-button-toggle value="incomplete">Incomplete</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <section>
      <mat-button-toggle-group
        formControlName='priorityFilters'
        aria-label="Priority Filters"
        [hideMultipleSelectionIndicator]="true"
        multiple
      >
        <mat-button-toggle value="high">High</mat-button-toggle>
        <mat-button-toggle value="medium">Medium</mat-button-toggle>
        <mat-button-toggle value="low">Low</mat-button-toggle>
      </mat-button-toggle-group>
    </section>
  </div>
  <br>

  <!-- <app-list [dataSource]="filteredData$ | async" [displayedColumns]="displayedColumns$ | async"
    (rowClicked)="navigateToEditTask($event)">
  </app-list> -->
  <app-card-list [dataSource]="filteredData$ | async" >

  </app-card-list>

</div>