.task-overview {
  padding: 10px;

  &__filters{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
  }

  &__sort {
    // display: flex;
    // flex-direction: row;
    // justify-content: end;
    // padding-right: 10px;

  }
}