<div class="card-list" #wrapper>
  @if (loading) {
<div class='card-list__skeleton'>
      <app-task-card [task]="null"></app-task-card>
      <app-task-card [task]="null"></app-task-card>
      <app-task-card [task]="null"></app-task-card>
      <app-task-card [task]="null"></app-task-card>
      <app-task-card [task]="null"></app-task-card>
      <app-task-card [task]="null"></app-task-card>
</div>
  }
  @else {
  <cdk-virtual-scroll-viewport
    #viewport
    cdkDropList
    [cdkDropListDisabled]="disableDrag"
    [cdkDropListData]='dataSource'
    (cdkDropListDropped)='onItemDrop($event)'
    appendOnly
    [itemSize]="itemPixelSize"
    [minBufferPx]="minBufferPx"
    [maxBufferPx]="maxBufferPx" [class]="'card-list__viewport'">
      <app-task-card
      cdkDrag
      (onClicked)="onItemClick.emit($event)"
      (onCheckedChanged)="onItemCheckedChange.emit($event)"
      *cdkVirtualFor="let task of dataSource"
      [task]="task">
      </app-task-card>
  </cdk-virtual-scroll-viewport>
  }
</div>