.stacked-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 36px;
  background-color: var(--stack-background-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;

  &__stack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

    &__label {
      text-wrap: nowrap;
      overflow: hidden;
      font-size: 16px;
      font-weight: 500;
      color: var(--stack-label-color);
    }
  }

  &--color-1 {
    background-color: var(--stack-color-1);
  }
  &--color-2 {
    background-color: var(--stack-color-2);
  }
  &--color-3 {
    background-color: var(--stack-color-3);
  }
  &--color-4 {
    background-color: var(--stack-color-4);
  }
  &--color-5 {
    background-color: var(--stack-color-5);
  }
  &--color-6 {
    background-color: var(--stack-color-6);
  }
  &--color-7 {
    background-color: var(--stack-color-7);
  }

}