
@if (task){
    <mat-card matRipple class='task-card' (click)='onClicked.emit(task.id)'>
        <div class='task-card__content'>
            <div class='task-card__title'>
                <mat-checkbox (click)='onCheckClick($event)' class='task-card__checkbox' [checked]='task.completed' (change)='onTaskCompletedChange($event)'></mat-checkbox>
                <span class='task-card__title-text' >{{ task.title }}</span>
            </div>
            <div class='task-card__info'>
                @if (task.date) {
                    <mat-card-subtitle class='task-card__date'><mat-icon>calendar_month</mat-icon> {{ task.date | dateToString: 'short' }}</mat-card-subtitle>
                }
                @if (task.priority) {
                    <mat-card-subtitle class='task-card__priority'><mat-icon>priority_high</mat-icon>{{ task.priority }}</mat-card-subtitle>
                }
            </div>
        </div>
        <div class='task-card__priority-bar task-card__priority-bar--{{task.priority?.toLowerCase()}}'></div>
    </mat-card>
} @else {
    <!-- skeletion card -->
    <mat-card class='task-card task-card task-card--skeleton'>
        <div class='task-card__content'>
            <div class='task-card__title'>
                <p class='task-card__checkbox'></p>
                <p class='task-card__title-text'></p>
            </div>
            <div class='task-card__info'>
                <p class='task-card__date'></p>
                <p class='task-card__priority'></p>
            </div>
        </div>
        <div class='task-card__priority-bar task-card__priority-bar--none'></div>
    </mat-card>
}

