.task-card {
    padding-left: 10px;
    padding-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 62px;
    border-radius: 10px 0 0 10px;
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-grow: 1;
    }

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--sys-on-surface);
    }
    &__checkbox {
        margin-right: 10px;
    }

    &__info {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
        gap: 10px;
        color: var(--sys-on-surface);
    }

    &__date {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.8rem;
        color: var(--sys-on-surface);
        max-width: 200px;
    }

    &__priority {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.8rem;
        color: var(--sys-on-surface);
        max-width: 200px;
    }

    mat-icon {
        font-size: 1.2rem;
    }

    &__priority-bar {
        height: 100%;
        width: 10px;

        // should be positioned to the left of the task card
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--sys-priority-none);
        box-shadow:
        0 0 200px 50px color-mix(in srgb, var(--sys-priority-none), var(--sys-priority-gradient-mix-color));

        &--low {
            background-color: var(--sys-priority-low);
            box-shadow:
            0 0 200px 50px color-mix(in srgb, var(--sys-priority-low), var(--sys-priority-gradient-mix-color));
        }

        &--medium {
            background-color: var(--sys-priority-medium);
            box-shadow:
            0 0 200px 50px color-mix(in srgb, var(--sys-priority-medium), var(--sys-priority-gradient-mix-color));
        }

        &--high {
            background-color: var(--sys-priority-high);
            box-shadow:
            0 0 200px 50px color-mix(in srgb, var(--sys-priority-high), var(--sys-priority-gradient-mix-color));
        }
    }

    &--skeleton {
        .task-card {
            &__title-text, &__checkbox, &__date, &__priority, &__priority-bar {
                background: var(--sys-skeleton-background-gradient);
                border-radius: 5px;
                background-size: 200% 100%;
                animation: 1.5s shine linear infinite;
            }

            &__priority-bar {
                background: var(--sys-skeleton-background) !important;
                border-radius: 0px;
                animation: none;
            }

            &__title-text {
                width: 200px;
                height: 30px;
            }
            &__checkbox {
                background: var(--sys-skeleton-background) !important;
                margin-left: 10px;
                width: 20px;
                height: 20px;
                animation: none;
            }
            &__date, &__priority {
                margin: 0px;
                height: 20px;
                width: 100px;
            }
        }
    }

    @keyframes shine {
        to {
          background-position-x: -200%;
        }
      }
}