.task-card {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 62px;
    border-radius: 10px 0 0 10px;
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 10px;
        width: 100%;
    }

    &__checkbox {
        margin-right: 10px;
    }

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__priority-bar {
        height: 100%;
        width: 10px;
        // should be positioned to the left of the task card
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--priority-none);

        &--low {
            background-color: var(--priority-low);
        }

        &--medium {
            background-color: var(--priority-medium)
        }

        &--high {
            background-color: var(--priority-high);
        }
    }
}