@use '@angular/material' as mat;
@use './m3-theme.scss' as my-theme;

@include mat.core();

:root {
  @include mat.all-component-themes(my-theme.$light-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--sys-on-background);
  background-color: var(--sys-background);
}


:root {
  @include mat.all-component-themes(my-theme.$light-theme);
  @include mat.system-level-typography(my-theme.$light-theme);


  --sys-background: #eff3f2;
  --sys-error: #ba1a1a;
  --sys-error-container: #ffdad6;
  --sys-inverse-on-surface: #f7f0e7;
  --sys-inverse-primary: #e6c358;
  --sys-inverse-surface: #33302b;
  --sys-on-background: #1e1b16;
  --sys-on-error: #ffffff;
  --sys-on-error-container: #410002;
  --sys-on-primary: #ffffff;
  --sys-on-primary-container: #231a00;
  --sys-on-primary-fixed: #231a00;
  --sys-on-primary-fixed-variant: #574500;
  --sys-on-secondary: #ffffff;
  --sys-on-secondary-container: #221b06;
  --sys-on-secondary-fixed: #221b06;
  --sys-on-secondary-fixed-variant: #4f462d;
  --sys-on-surface: #3b362d;
  --sys-on-surface-variant: #4d4636;
  --sys-on-tertiary: #ffffff;
  --sys-on-tertiary-container: #06200e;
  --sys-on-tertiary-fixed: #06200e;
  --sys-on-tertiary-fixed-variant: #324d36;
  --sys-outline: #7e7664;
  --sys-outline-variant: #d0c6b1;
  --sys-primary: #735c00;
  --sys-primary-container: #ffe087;
  --sys-primary-fixed: #ffe087;
  --sys-primary-fixed-dim: #e6c358;
  --sys-scrim: #000000;
  --sys-secondary: #685e43;
  --sys-secondary-container: #f0e1bf;
  --sys-secondary-fixed: #f0e1bf;
  --sys-secondary-fixed-dim: #d3c5a5;
  --sys-shadow: #000000;
  --sys-surface: #e5e3de;
  --sys-surface-bright: #fff8f1;
  --sys-surface-container: #f4ede4;
  --sys-surface-container-high: #f5f2ef;
  --sys-surface-container-highest: #e8e1d9;
  --sys-surface-container-low: #cac5ba;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-dim: #e0d9d1;
  --sys-surface-tint: #735c00;
  --sys-surface-variant: #ece1cc;
  --sys-tertiary: #4a654d;
  --sys-tertiary-container: #cbebcc;
  --sys-tertiary-fixed: #cbebcc;
  --sys-tertiary-fixed-dim: #b0ceb1;
  
  --sys-error-button: #ba1a1a;
  --sys-on-error-button: #ffffff;
  --sys-priority-low: rgb(17, 138, 178);
  --sys-priority-medium: rgb(255, 209, 102);
  --sys-priority-high: rgb(239, 71, 111);
  --sys-priority-none: rgb(197, 215, 227);
  --sys-priority-background-low: rgb(17, 138, 178, 0.3);
  --sys-priority-background-medium: rgb(255, 209, 102, 0.3);
  --sys-priority-background-high: rgb(239, 71, 111, 0.3);
  --sys-priority-background-none: rgb(197, 215, 227, 0.3);
  --sys-priority-gradient-mix-color:  white 50%;

  --completed-color: #669967;

  --stack-color-1: var(--sys-priority-low);
  --stack-color-2: var(--sys-priority-medium);
  --stack-color-3: var(--sys-priority-high);
  --stack-color-4: var(--sys-priority-none);
  --stack-color-5: var(--completed-color);
  --stack-background-color: var(--sys-surface-container);
  --stack-label-color: #221b06;

  --sys-skeleton-background: var(--sys-surface-container-low);
  --sys-skeleton-background-gradient: linear-gradient(110deg, var(--sys-surface-container-low) 8%, var(--sys-surface-container-high) 18%, var(--sys-surface-container-low) 33%);


  --mat-app-surface: var(--sys-surface);


  &.dark-theme {
    --sys-background: #1e1b16;
    --sys-error: #ffb4ab;
    --sys-error-container: #93000a;
    --sys-inverse-on-surface: #33302b;
    --sys-inverse-primary: #735c00;
    --sys-inverse-surface: #e8e1d9;
    --sys-on-background: #e8e1d9;
    --sys-on-error: #690005;
    --sys-on-error-container: #ffdad6;
    --sys-on-primary: #3c2f00;
    --sys-on-primary-container: #ffe087;
    --sys-on-primary-fixed: #231a00;
    --sys-on-primary-fixed-variant: #574500;
    --sys-on-secondary: #383018;
    --sys-on-secondary-container: #f0e1bf;
    --sys-on-secondary-fixed: #221b06;
    --sys-on-secondary-fixed-variant: #4f462d;
    --sys-on-surface: #e8e1d9;
    --sys-on-surface-variant: #d0c6b1;
    --sys-on-tertiary: #1c3621;
    --sys-on-tertiary-container: #cbebcc;
    --sys-on-tertiary-fixed: #06200e;
    --sys-on-tertiary-fixed-variant: #324d36;
    --sys-outline: #98907d;
    --sys-outline-variant: #4d4636;
    --sys-primary: #e6c358;
    --sys-primary-container: #574500;
    --sys-primary-fixed: #ffe087;
    --sys-primary-fixed-dim: #e6c358;
    --sys-scrim: #000000;
    --sys-secondary: #d3c5a5;
    --sys-secondary-container: #4f462d;
    --sys-secondary-fixed: #f0e1bf;
    --sys-secondary-fixed-dim: #d3c5a5;
    --sys-shadow: #000000;
    --sys-surface: #2f2b23;
    --sys-surface-bright: #3c3933;
    --sys-surface-container: #221f1a;
    --sys-surface-container-high: #2d2a25;
    --sys-surface-container-highest: #37342f;
    --sys-surface-container-low: #1e1b16;
    --sys-surface-container-lowest: #0c0b09;
    --sys-surface-dim: #12100d;
    --sys-surface-tint: #e6c358;
    --sys-surface-variant: #4d4636;
    --sys-tertiary: #b0ceb1;
    --sys-tertiary-container: #324d36;
    --sys-tertiary-fixed: #cbebcc;
    --sys-tertiary-fixed-dim: #b0ceb1;

    --sys-priority-low: rgb(17, 138, 178);
    --sys-priority-medium: rgb(255, 209, 102);
    --sys-priority-high: rgb(239, 71, 111);
    --sys-priority-none: rgb(197, 215, 227);

    --sys-priority-gradient-mix-color:  black 50%;

    --mat-app-surface: var(--sys-surface);


  }
}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-button.mat-mdc-unelevated-button.mat-warn {
  background-color: var(--sys-error-button);
  color: var(--sys-on-error-button);
}